body {
	background-color: #010101;
}

.results {
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
	z-index: 10;
	border: 1px solid black;
	background-color: white;
}

.item {
    padding: 8px;
    cursor: pointer;
}

.item:hover {
    background-color: #f7f7f7;
	color: black;
}

.selected {
    background-color: #000000;
	color: #FFFFFF;
}

.tipo_automata {

	border: 1px solid black;
	background-color: gray;
	border-collapse: collapse;
	padding: 10px;
	margin: 10px;
	overflow: visible;
}

.automata {
	display: inline-block;
    vertical-align: top; /* Alinha os divs pelo topo. */
    margin-right: 10px; /* Espaço entre os divs. Ajuste conforme necessário. */
	overflow: visible;

}

.dropdown-wrapper {
	display: inline-block;
    vertical-align: top; /* Alinha os divs pelo topo. */
    margin-right: 10px; /* Espaço entre os divs. Ajuste conforme necessário. */
	overflow: visible;
}

