html {
   	height: 100%;
	background-color: #2B2B2B;
}

body {
	background-color: #2B2B2B;
}

body.menu-page {
	background-color: #2B2B2B;
    margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}


header {
	display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.logo-container {
    flex: 1;
}

.title-container {
    flex: 2;
	font-size: 3rem;
}

#logo {
    max-height: 30%; /* Ajuste conforme o tamanho desejado para o seu logo */
}
nav {
    background-color: #444;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    padding: 10px 15px;
}

nav a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
nav a {
    font-size: 3rem; /* Aumenta o tamanho das letras */
    display: block;   /* Torna o link um bloco para permitir efeito de hover */
    position: relative;
}

nav a span {
    display: none;  
    font-size: 1.2rem; 
	font-weight: normal;
    font-family: 'Lato', sans-serif; /* Arial é uma fonte comum sem serifa; você pode substituí-la por outra de sua escolha */
    letter-spacing: 1px; /* Isso espaça um pouco as letras; ajuste conforme necessário */
	position: absolute;
    left: 0;
    top: 200%;      
    background-color: #444;  
    padding: 5px;  
    border-radius: 5px; /* Adicione um pequeno raio de borda para melhorar a aparência */
    z-index: 1; /* Garanta que o <span> fique por cima de outros elementos */
}

nav a:hover span {
    display: block;  
}

nav a:hover, nav a:focus {
    background-color: #555;
    border-radius: 5px;
    padding: 10px 15px;
	font-weight: bold;
}

#div_scroll {
	overflow-x: scroll;
}

div#content {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



#titulo_geral {
	color: yellow;
    word-wrap: break-word;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

#tempHeader {
 	position: relative;
	top: 0px;
	left: 0px;
    width: 100%;
    height: 20vh; /* 10% da altura da viewport */
    color: white;
    text-align: center;
    overflow: hidden; /* isso evitará que o conteúdo dentro do cabeçalho "vaze" enquanto a altura está sendo reduzida */
    -webkit-transition: height 2s ease-in-out;
	transition: height 2s ease-in-out; /* animação de transição para a altura */
            font-family: 'Courier New', Courier, monospace;
            font-size: 32px;
            background-color: #333;
            border: 1px solid #d1d1d1;

}

#tempHeader img {
   height: 100%;  /* A imagem terá a altura total do div */
    width: auto;  /* A largura é automaticamente ajustada para manter a proporção */
    object-fit: contain;  /* Mantém a proporção da imagem */
    display: block;  /* Remove qualquer espaço abaixo da imagem */
}


.separator { /* separator criado pelo chatgpt */
    height: 3vh; /* 3% da altura da viewport */
    background-color: darkgray;
	color: lightgray;
    text-align: left; /* Alinha o texto no centro horizontalmente */
    line-height: 3vh; /* Isso ajudará a alinhar o texto verticalmente no centro */
    font-family: sans-serif; /* Escolha a família de fonte que você preferir */
    font-weight: bold; /* Texto em negrito */
	padding-left: 10px;
	margin: 10px;
	clear: both;
}
.marca[data-selecionou="sim"] {
	font-size: 1.8rem;
	color: darkblue;
	font-weight: bold;
	font-family: Arial, sans-serif;
	opacity: 1;
	margin: 1px;
}

.marca[data-selecionou="nao"] {
	font-size: 1.8rem;
	color: white;
	font-weight: normal;
	font-family: Arial, sans-serif;
	opacity: 0.5;
	margin: 1px;
}

.puxa_direita {
	float: right;
	margin-right: 10px;
	border-radius: 50%;
	background-color: lightgray;
	width: 1.9rem;
	height: 1.9rem;
	padding: 1px;
}
.titulo_token {
	border-radius: 20px;
	padding: 4px;
	color: black;
	font-size: 0.8rem;
	display: inline-block;
	font-weight: bold;
}

.contem_botao {
	display: inline-block;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
}


.botao {
	font-size: 1.5rem;
	display: inline-block;
}

.titulo_tipo_elemento_sintatico {
	background-color: darkblue;
	border-radius: 20px;
	padding: 10px;
	border: 1px solid blue;
	color: white;
	font-size: 1.3rem;
	display: inline-block;
}

.results {
    max-height: 30%;
    overflow-y: auto;
    position: absolute;
	z-index: 10;
	border: 1px solid black;
	background-color: white;
	font-size: 1.1em;
}

input[type="text"] {
	font-size:1.22rem;
	border-radius: 5px;
}

input[type="text"]:focus {
	border: 5px solid red;

}


.deletar {
	margin: 5px;
	border-radius: 20px;
	background-color: #10A5A0;
	padding: 5px;
}

.reciclar {
	margin: 5px;
	border-radius: 20px;
	background-color: #10A5A0;
	padding: 5px;
}

.item {
    padding: 8px;
    cursor: pointer;
}

.item:hover {
    background-color: #f7f7f7;
	color: black;
}

.selected {
    background-color: #000000;
	color: #FFFFFF;
}

.frase {
	background-color: brown;
	color: white;
	border: 2px solid orange;
	border-radius: 20px;
	margin: 20px;
	padding: 10px;
	display: inline-block;
	font-weight: bold;
}

.tipo_automata {
	display: inline-block;
	border: 1px solid black;
	background-color: gray;
	border-collapse: collapse;
	padding: 10px;
	margin: 10px;
	overflow: visible;
	border-radius: 20px;
	clear: both;
}

.automata {
	display: inline-block;
    vertical-align: top; /* Alinha os divs pelo topo. */
    margin-right: 10px; /* Espaço entre os divs. Ajuste conforme necessário. */
	overflow: visible;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;

}

.dropdown-wrapper {
	display: inline-block;
    vertical-align: top; /* Alinha os divs pelo topo. */
    margin-right: 10px; /* Espaço entre os divs. Ajuste conforme necessário. */
	overflow: visible;
	padding: 10px;
}


.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    bottom: 0;
}

nav {
    align-self: flex-start; /* Evita que o nav se estique verticalmente */

}

nav ul li {
    margin-bottom: 10px; /* Espaçamento entre os itens do menu */
}


