body {
	background-color: #010101;
}

.marca[data-selecionou="sim"] {
	font-size: 1.8rem;
	color: darkblue;
	font-weight: bold;
	font-family: Arial, sans-serif;
	opacity: 1;
	margin: 1px;
}

.marca[data-selecionou="nao"] {
	font-size: 1.8rem;
	color: white;
	font-weight: normal;
	font-family: Arial, sans-serif;
	opacity: 0.5;
	margin: 1px;
}

.puxa_direita {
	float: right;
	margin-right: 10px;
	border-radius: 50%;
	background-color: lightgray;
	width: 1.9rem;
	height: 1.9rem;
	padding: 1px;
}
.titulo_token {
	border-radius: 20px;
	padding: 4px;
	color: black;
	font-size: 0.8rem;
	display: inline-block;
	font-weight: bold;
}

.botao {
	font-size: 2rem;

}

.titulo_tipo_elemento_sintatico {
	background-color: darkblue;
	border-radius: 20px;
	padding: 10px;
	border: 1px solid blue;
	color: white;
	font-size: 1.3rem;
	display: inline-block;
}

.results {
    max-height: 30%;
    overflow-y: auto;
    position: absolute;
	z-index: 10;
	border: 1px solid black;
	background-color: white;
	font-size: 1.1em;
}

input[type="text"] {
	font-size:1.22rem;
	border-radius: 5px;
}

input[type="text"]:focus {
	border: 5px solid red;

}


.deletar {
	margin: 5px;
	border-radius: 20px;
	background-color: #10A5A0;
	padding: 5px;
}

.reciclar {
	margin: 5px;
	border-radius: 20px;
	background-color: #10A5A0;
	padding: 5px;
}

.item {
    padding: 8px;
    cursor: pointer;
}

.item:hover {
    background-color: #f7f7f7;
	color: black;
}

.selected {
    background-color: #000000;
	color: #FFFFFF;
}

.frase {
	background-color: brown;
	color: white;
	border: 2px solid orange;
	border-radius: 20px;
	margin: 20px;
	padding: 10px;
	display: inline-block;
	font-weight: bold;
}

.tipo_automata {
	display: inline-block;
	border: 1px solid black;
	background-color: gray;
	border-collapse: collapse;
	padding: 10px;
	margin: 10px;
	overflow: visible;
	border-radius: 20px;
}

.automata {
	display: inline-block;
    vertical-align: top; /* Alinha os divs pelo topo. */
    margin-right: 10px; /* Espaço entre os divs. Ajuste conforme necessário. */
	overflow: visible;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;

}

.dropdown-wrapper {
	display: inline-block;
    vertical-align: top; /* Alinha os divs pelo topo. */
    margin-right: 10px; /* Espaço entre os divs. Ajuste conforme necessário. */
	overflow: visible;
	padding: 10px;
}
